TEST_CASE_GENERATOR.json
{
  "name": "TEST_CASE_GENERATOR",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "cd635d3d-588a-4af3-8480-49e1cacc66e4",
      "name": "When chat message received",
      "webhookId": "33406f42-f3ed-4da2-865c-83b990c4470b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n## ROLE\nYou are a **Senior QA Engineer** with strong expertise in requirement analysis, functional testing, edge case identification, and strict requirement traceability.\n\n---\n\n## OBJECTIVE\n\nGenerate high-quality test cases fetched from JIRA id {{ $json.chatInput }}\n\n---\n\n## REQUIREMENTS SOURCE\n- Fetch all feature requirements strictly from the provided **JIRA ID: {{ $json.chatInput }}**\n- Use ONLY the information explicitly available in the JIRA ticket.\n- Consider:\n  - Description\n  - Acceptance Criteria\n  - Business Rules\n  - Attachments (if explicitly referenced)\n  - Clarifying comments (only if they define behavior)\n\n---\n\n## STRICT CONSTRAINTS\n\n1. ✅ Generate test cases **ONLY from the provided requirements**.\n2. ❌ Do NOT assume undocumented behavior.\n3. ❌ Do NOT infer missing workflows.\n4. ❌ Do NOT introduce industry best practices unless explicitly mentioned.\n5. ❗ If required information is missing, write exactly:\n   - **\"Needs clarification\"**\n6. ❗ If a field cannot be determined from JIRA, write:\n   - **\"Needs clarification\"**\n7. ✅ Ensure complete traceability to the JIRA requirement.\n8. ✅ Cover positive, negative, boundary, and validation scenarios **only if explicitly mentioned**.\n\n---\n\n## OUTPUT FORMAT (MANDATORY)\n\nGenerate results strictly in the following table format:\n\n| Test ID | Description | Pre-conditions | Steps | Expected Result | Priority |\n|----------|------------|---------------|--------|----------------|----------|\n\n---\n\n## PRIORITY RULES\n\n- High → Core business functionality or blocking defects (only if specified)\n- Medium → Important but non-blocking scenarios (only if specified)\n- Low → Edge cases (only if specified)\n- If priority is not mentioned → Write **\"Needs clarification\"**\n\n---\n\n## VALIDATION CHECKLIST BEFORE OUTPUT\n\n- All test cases are derived strictly from JIRA.\n- No assumptions introduced.\n- Steps are atomic, clear, and executable.\n- Expected results are precise and measurable.\n- Exactly **[NUMBER]** test cases are generated.\n\n---\n\n## FINAL INSTRUCTION\n\nGenerate exactly **[NUMBER]** test cases for **[FEATURE NAME]** using JIRA ID: **[JIRA_ID]**, following all constraints above. {{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "92c507ee-294c-4d59-b7bd-bc3cb4465ab0",
      "name": "TEST_CASE_GENERATOR"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        336
      ],
      "id": "d783dc59-7cde-45ab-bc0c-b8d2d5bd8b57",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "dda2c13c-7a83-453d-b3ed-a9cfe2642e20",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fdSpgIh8fAQBebTx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}",
        "simplifyOutput": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "78f2909c-7117-4835-bcaf-34fb4179ad53",
      "name": "Get an issue in Jira Software",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "Qcu5SmNfGqzZnN2n",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        16
      ],
      "id": "4727f23e-f294-4a48-b797-09bf11401a92",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Test ID\": \"ID_1\",\n\t\"Description\": \"Description\",\n    \"Pre-conditions\":\"Login creadentails provided\",\n    \"Steps\": \"1. Login 2. Click on homepage 3. check the homepage icon\",\n    \"Expected Result\":\"Login should be working\",\n    \"Priority\": \"High\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        288
      ],
      "id": "b9b8c875-af59-4542-9aee-da9ade4c912c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "TEST_CASE_GENERATOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "TEST_CASE_GENERATOR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "TEST_CASE_GENERATOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get an issue in Jira Software": {
      "ai_tool": [
        [
          {
            "node": "TEST_CASE_GENERATOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TEST_CASE_GENERATOR": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "TEST_CASE_GENERATOR",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1a96368-fb02-4bba-91f6-aa0b52c25eee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae87fce7cf607aa4a5f36ed0a43b8af9b5cc2ae054ee934a21f7381916eb48e5"
  },
  "id": "DEsQhnKw2uLdsO8V",
  "tags": []
}